<div class="left">
  @if (pokemonDetails) {
    <h2>Nom : {{ pokemonDetails.name }}</h2>
    <img [src]="pokemonDetails.picture">
    <p>Taille : {{ pokemonDetails.height / 10 }} m</p>
    <p>Poids : {{ pokemonDetails.weight / 10 }} kg</p>
    <p>Type(s)</p>
    <ul>
      @for (t of pokemonDetails.types; track t) {
        <li>{{ t }}</li>
      }
    </ul>
  } @else {
    <h2>Welcome in pokedex</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero maiores quibusdam sint voluptate.
      Asperiores aut error nobis quidem repellat!</p>
  }
</div>
<div class="right">
  <div class="buttons">
  @if (pokemonResult.previous) {
    <button (click)="findMany(pokemonResult.previous)">⬅️</button>
  }
  @if (pokemonResult.next) {
    <button (click)="findMany(pokemonResult.next)">➡️</button>
  }
  </div>
  <ul>
    @for (p of pokemonResult.results; track p.name) {
      <li class="poke-item" (click)="findOne(p.url)">
        <img [src]="p.sprite">
        <p>{{ p.name }}</p>
      </li>
    }
  </ul>
</div>
