*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.custom-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.custom-button {
  padding: 5px;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
}
